# Examen Parcial n°1 2da Parte - TLP3 - Python para Ciencia de Datos.

**A partir del datasets brindado, realizar los siguientes procedimientos:**

* Importar datasets con Pandas.
* Explorar los datos con los metodos correspondientes. 
* Limpieza de los datos (Normalización de datos).
* Obtener estadisticas.
* Mostrar los datos procesados con graficos utilizando la libreria Matplotlib.
* Exportar el contenido a un archivo sqlite utilizando PANDAS.


**Importante: Se debe documentar cada procedimiento realizado, siguiendo la siguiente estructura:**

1. Celda de Markdown (Documentación)
2. Código (Sin comentarios, se debe documentar lo sufiente solo en la celda de markdown).


### Criterios de Evaluación:

1. No esta permitido el uso de IAs durante el examen. (Desactivar Copilot o cualquier herramienta de IA para autocompletar codigo.)

2. Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).

3. Comentarios claros y concisos que expliquen el propósito de cada sección del código en una celda de markdown antes del código.

4. Utilizar mensajes de commit descriptivos. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE).

5. Entrega en tiempo y forma (Parciales entregados fuera de hora o con commits pasados el horario de entrega quedará invalidado.)

6. Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: 
**parcial1_tlp3_nombre_apellido**).

7. Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter.

8. Deben trabajar con el datasets adjunto.

9. Una vez finalizado el examen, los resultados deben quedar guardados debajo de cada celda (NO EJECUTAR LA OPCIÓN "borrar todas las salidas").

**Importante:** Una vez finalizado el examen, marcar como completado en el classroom.

## Actividades: 
### 1. Importación del Dataset con Pandas

En esta sección, se debe utilizar la librería Pandas para cargar el archivo CSV que contiene los datos de VENTAS en un DataFrame.

### 2. Exploración Inicial de los Datos

A continuación, se deben emplear métodos de Pandas para obtener una visión general del dataset. 
- 2.1: Visualizar las primeras filas y ultimas.
- 2.2: Obtener informacion del df con su metodo correspondiente.
- 2.3: Hacer un conteo de valores nulos.

### 3. Limpieza y Normalización de los Datos

- 3.1. Esta etapa crucial deben aplicar la corrección de diversos errores presentes en el dataset. Se abordarán los valores faltantes (Deben aplicar los metodos que ustedes crean convenientes **(Solo 1)**, por ejemplo: Eliminación de filas, cubrir valores con media, mediana, etc.)
- 3.2: La columna Fecha deberan pasarla al tipo datetime con su metodo correspondiente.
- 3.3: Corregir las mayusculas en el caso de Nombre y Apellido (Si es que corresponde.)


### 4. Obtención de Estadísticas Descriptivas

Después de la limpieza, deben hacer lo siguiente: 

- 4.1: calcular nuevamente las estadísticas descriptivas para observar el impacto del proceso de limpieza en los datos numéricos.
- 4.2: Calcular estadísticas específicas por grupo (Agrupar dos columnas).

### 5. Visualización de los Datos con Matplotlib

En esta sección, deben utilizar la librería Matplotlib para crear **UNA** visualización que permitan comprender mejor los datos de ventas.El grafico es a elección, puede crear **UNO** de los siguientes: histogramas, diagramas de dispersión, gráficos de barras y graficos de torta.

### 6. Exportación a Archivo SQLite

Finalmente, deben utilizar la funcionalidad de Pandas para guardar el DataFrame procesado en una base de datos SQLite. Deben hacer una conexión y hacer una consulta para ver si los datos fueron cargados correctamente.

# 1. IMPORTACION DE DATASET

 1. en el primer bloque de codigo lo que hacemos es importar pandas y a la vez leemos el csv
 2.

In [ ]:
import pandas as pd

df= pd.read_csv("ventas.csv")

,ID_Venta,Nombre_Cliente,Apellido_Cliente,Fecha,Producto,Cantidad,Precio_Unitario,Total_Venta,Metodo_Pago,Region
0,1,Ana,García,01-05-2024,Laptop,1,1200.50,1200.50,Tarjeta de Crédito,Norte
1,2,Carlos,López,2024-01-08,Mouse Inalámbrico,2,25.75,51.50,Efectivo,Sur
2,3,sofía,martínez,2024-01-12,Teclado Mecánico,1,75.99,75.99,Transferencia Bancaria,Este
3,4,pedro,rodríguez,2024-01-15,Monitor 24 pulgadas,1,NaN,NaN,Tarjeta de Débito,Oeste
4,5,Laura,Sánchez,18-01-2024,Auriculares Bluetooth,1,99.95,99.95,Tarjeta de Crédito,Norte

# 2. Exploracion de datos

In [16]:
print(f"Las primeras 5 filas {df.head(5)}")
print(f"\n Las ultimas 5 filas {df.tail(5)}")

print(f"\n {df.info()} ")

print(f"Los valores nulos son {df.isnull().sum()}")

Las primeras 5 filas    ID_Venta Nombre_Cliente Apellido_Cliente       Fecha  \
0         1            Ana           García  01-05-2024
1         2         Carlos            López  2024-01-08
2         3          sofía         martínez  2024-01-12
3         4          pedro        rodríguez  2024-01-15
4         5          Laura          Sánchez  18-01-2024

                Producto  Cantidad  Precio_Unitario  Total_Venta  \
0                 Laptop         1          1200.50      1200.50
1      Mouse Inalámbrico         2            25.75        51.50
2       Teclado Mecánico         1            75.99        75.99
3    Monitor 24 pulgadas         1              NaN          NaN
4  Auriculares Bluetooth         1            99.95        99.95

              Metodo_Pago Region
0      Tarjeta de Crédito  Norte
1                Efectivo    Sur
2  Transferencia Bancaria   Este
3       Tarjeta de Débito  Oeste
4      Tarjeta de Crédito  Norte

 Las ultimas 5 filas      ID_Venta Nombre_Cliente Apellido_Cliente       Fecha  \
100       101        Agustín           Torres  2024-10-08
101       102         Camila             Vega  2024-10-11
102       103           Juan            Rojas  2024-10-15
103       104          Lucía            Silva  2024-10-18
104       105          mateo             luna  2024-10-22

                 Producto  Cantidad  Precio_Unitario  Total_Venta  \
100        Pen Drive 64GB         4             8.75         35.0
101         Laptop Ligera         1              NaN       1180.0
102                   NaN         1            48.99          NaN
103     Teclado Bluetooth         1            78.20         78.2
104  Monitor para Oficina         1             2.00        210.5

                Metodo_Pago Region
100       Tarjeta de Débito  Oeste
101      Tarjeta de Crédito  Norte
102                Efectivo    Sur
103  Transferencia Bancaria   Este
104       Tarjeta de Débito  Oeste
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_Venta          105 non-null    int64
 1   Nombre_Cliente    105 non-null    object
 2   Apellido_Cliente  105 non-null    object
 3   Fecha             105 non-null    object
 4   Producto          101 non-null    object
 5   Cantidad          105 non-null    int64
 6   Precio_Unitario   92 non-null     float64
 7   Total_Venta       92 non-null     float64
 8   Metodo_Pago       94 non-null     object
 9   Region            100 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 8.3+ KB

 None
Los valores nulos son ID_Venta             0
Nombre_Cliente       0
Apellido_Cliente     0
Fecha                0
Producto             4
Cantidad             0
Precio_Unitario     13
Total_Venta         13
Metodo_Pago         11
Region               5
dtype: int64

# 3. Limpieza y Normalización de los Datos

In [44]:
# - 3.1. Esta etapa crucial deben aplicar la corrección de diversos errores presentes en el dataset. Se abordarán los valores faltantes (Deben aplicar los metodos que ustedes crean convenientes **(Solo 1)**, por ejemplo: Eliminación de filas, cubrir valores con media, mediana, etc.)
# - 3.2: La columna Fecha deberan pasarla al tipo datetime con su metodo correspondiente.
# - 3.3: Corregir las mayusculas en el caso de Nombre y Apellido (Si es que corresponde.) 

df['Fecha'] = pd.to_datetime(df['Fecha'], dayfirst=True, errors='coerce')
df['Fecha'] = df['Fecha'].fillna(0)



df['Metodo_Pago'] = df['Metodo_Pago'].fillna(0)  
df['Metodo_Pago'] = df['Metodo_Pago'].replace(0.0, "No metodo")

df['Region'] = df['Region'].fillna(0)
df['Region'] = df['Region'].replace(0.0, "No region")


df['Precio_Unitario'].fillna(df['Precio_Unitario'].mean(), inplace=True)
df['Total_Venta'] = df['Total_Venta'].fillna(0)

df['Nombre_Cliente'] = df['Nombre_Cliente'].str.title()
df['Apellido_Cliente'] = df['Apellido_Cliente'].str.title()

df.head(5)

C:\Users\ticia\AppData\Local\Temp\ipykernel_20196\554410725.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Precio_Unitario'].fillna(df['Precio_Unitario'].mean(), inplace=True)

,ID_Venta,Nombre_Cliente,Apellido_Cliente,Fecha,Producto,Cantidad,Precio_Unitario,Total_Venta,Metodo_Pago,Region
0,1,Ana,García,2024-05-01,Laptop,1,1200.500000,1200.50,Tarjeta de Crédito,Norte
1,2,Carlos,López,1970-01-01,Mouse Inalámbrico,2,25.750000,51.50,Efectivo,Sur
2,3,Sofía,Martínez,1970-01-01,Teclado Mecánico,1,75.990000,75.99,Transferencia Bancaria,Este
3,4,Pedro,Rodríguez,1970-01-01,Monitor 24 pulgadas,1,240.609239,0.00,Tarjeta de Débito,Oeste
4,5,Laura,Sánchez,2024-01-18,Auriculares Bluetooth,1,99.950000,99.95,Tarjeta de Crédito,Norte